version: '3'
services:
  contability_api:
    ports:
      - "4002:3000"
    depends_on:
      - db
    env_file:
      - .env
    image: hmontarroyos/api_contability
  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: ${POSTGRES_USERNAME} 
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DATABASE}
